/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/blog/not-found.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
.not-found_container__QvKhK {
  display: flex;
  height: 75vh;
  align-items: center;
  justify-content: center;
}

.not-found_title__8dwWb {
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  font-family: 'system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif';
}

.not-found_text__IxS2C {
  font-size: 0.8rem;
  text-align: center;
}

