/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./components/Pagination/index.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
.Pagination_container__bVB1J {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  margin-top: 24px;
}
.Pagination_list___yLpK {
  margin: 0 4px;
}
.Pagination_item__BDO3t {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: var(--border-radius);
}
.Pagination_current__iIvcT {
  background-color: var(--color-current);
}

/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./components/ArticleListItem/index.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.ArticleListItem_list__geat9 {
  margin-bottom: 40px;
}

.ArticleListItem_link__AMzzy {
  display: flex;
  gap: 40px;
}

.ArticleListItem_image__5biIE {
  width: 240px;
  height: auto;
}

.ArticleListItem_title__eXX8S {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

@media (max-width: 640px) {
  .ArticleListItem_link__AMzzy {
    display: block;
  }
  .ArticleListItem_image__5biIE {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }

  .ArticleListItem_title__eXX8S {
    font-size: 1.4rem;
  }
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./node_modules/highlight.js/styles/hybrid.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em
}
code.hljs {
  padding: 3px 5px
}
/*

vim-hybrid theme by w0ng (https://github.com/w0ng/vim-hybrid)

*/
.hljs {
  background: #1d1f21;
  color: #c5c8c6
}
/*selection color*/
.hljs::-moz-selection, .hljs span::-moz-selection {
  background: #373b41
}
.hljs::selection,
.hljs span::selection {
  background: #373b41
}
.hljs::-moz-selection,
.hljs span::-moz-selection {
  background: #373b41
}
/*color: fg_yellow*/
.hljs-title,
.hljs-name {
  color: #f0c674
}
/*color: fg_comment*/
.hljs-comment,
.hljs-meta,
.hljs-meta .hljs-keyword {
  color: #707880
}
/*color: fg_red*/
.hljs-number,
.hljs-symbol,
.hljs-literal,
.hljs-deletion,
.hljs-link {
  color: #cc6666
}
/*color: fg_green*/
.hljs-string,
.hljs-doctag,
.hljs-addition,
.hljs-regexp,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #b5bd68
}
/*color: fg_purple*/
.hljs-attribute,
.hljs-code,
.hljs-selector-id {
  color: #b294bb
}
/*color: fg_blue*/
.hljs-keyword,
.hljs-selector-tag,
.hljs-bullet,
.hljs-tag {
  color: #81a2be
}
/*color: fg_aqua*/
.hljs-subst,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
  color: #8abeb7
}
/*color: fg_orange*/
.hljs-type,
.hljs-built_in,
.hljs-quote,
.hljs-section,
.hljs-selector-class {
  color: #de935f
}
.hljs-emphasis {
  font-style: italic
}
.hljs-strong {
  font-weight: bold
}
/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./components/Date/index.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
.Date_date__Jlt7B {
  display: flex;
  align-items: center;
  line-height: 16px;
  gap: 8px;
  margin: 0.8rem 0;
}

