/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./node_modules/highlight.js/styles/hybrid.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em
}
code.hljs {
  padding: 3px 5px
}
/*

vim-hybrid theme by w0ng (https://github.com/w0ng/vim-hybrid)

*/
.hljs {
  background: #1d1f21;
  color: #c5c8c6
}
/*selection color*/
.hljs::-moz-selection, .hljs span::-moz-selection {
  background: #373b41
}
.hljs::selection,
.hljs span::selection {
  background: #373b41
}
.hljs::-moz-selection,
.hljs span::-moz-selection {
  background: #373b41
}
/*color: fg_yellow*/
.hljs-title,
.hljs-name {
  color: #f0c674
}
/*color: fg_comment*/
.hljs-comment,
.hljs-meta,
.hljs-meta .hljs-keyword {
  color: #707880
}
/*color: fg_red*/
.hljs-number,
.hljs-symbol,
.hljs-literal,
.hljs-deletion,
.hljs-link {
  color: #cc6666
}
/*color: fg_green*/
.hljs-string,
.hljs-doctag,
.hljs-addition,
.hljs-regexp,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #b5bd68
}
/*color: fg_purple*/
.hljs-attribute,
.hljs-code,
.hljs-selector-id {
  color: #b294bb
}
/*color: fg_blue*/
.hljs-keyword,
.hljs-selector-tag,
.hljs-bullet,
.hljs-tag {
  color: #81a2be
}
/*color: fg_aqua*/
.hljs-subst,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
  color: #8abeb7
}
/*color: fg_orange*/
.hljs-type,
.hljs-built_in,
.hljs-quote,
.hljs-section,
.hljs-selector-class {
  color: #de935f
}
.hljs-emphasis {
  font-style: italic
}
.hljs-strong {
  font-weight: bold
}
/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./components/Date/index.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
.Date_date__Jlt7B {
  display: flex;
  align-items: center;
  line-height: 16px;
  gap: 8px;
  margin: 0.8rem 0;
}

/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./components/Article/index.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.Article_main__I1Dce {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.Article_title__M_e36 {
  font-size: 2.4rem;
  margin-bottom: 24px;
  text-align: center;
}

.Article_description__v_Qu6 {
  font-size: 0.9rem;
  color: var(--color-text-sub);
  margin: 24px 40px;
  text-align: center;
}

.Article_meta__noYqu {
  display: flex;
  align-items: center;
  margin-bottom: 64px;
}

.Article_writer__HQfyM {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 40px;
  border-right: 1px solid var(--color-border);
  margin-right: 40px;
}

.Article_writerIcon__ivA_V {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.Article_writerName__CM3Wv {
  margin-left: 16px;
}

.Article_thumbnail__5rpq1 {
  width: 960px;
  height: auto;
  margin-bottom: 64px;
}

.Article_content__m_nzR {
  width: 720px;
}

.Article_content__m_nzR *:first-child {
  margin-top: 0;
}

.Article_content__m_nzR > h1 {
  font-size: 2rem;
  font-weight: bold;
  border-bottom: 1px solid var(--color-border);
  margin: 2.8rem 0 1rem;
}

.Article_content__m_nzR > h2 {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 2.8em 0 1rem;
}

.Article_content__m_nzR > h3 {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 2.8rem 0 1rem;
}

.Article_content__m_nzR > h4 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 2.8rem 0 1rem;
}

.Article_content__m_nzR > h5 {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 2.8rem 0 1rem;
}

.Article_content__m_nzR > p {
  margin: 2rem 0 0.5rem;
  line-height: 2;
}

.Article_content__m_nzR > pre {
  overflow-x: auto;
}

.Article_content__m_nzR pre > code {
  background-color: var(--color-bg-code);
  display: block;
  overflow-x: auto;
  padding: 16px;
}

.Article_content__m_nzR div[data-filename]::before {
  display: inline-block;
  background-color: var(--color-bg-sub);
  content: attr(data-filename);
  margin: 1em 0 0;
  font-family: menlo, inconsolata, monospace;
  font-size: 0.8rem;
  padding: 4px 16px;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.Article_content__m_nzR ul,
.Article_content__m_nzR ol {
  margin: 0.5rem 0 0.5rem 2rem;
}

.Article_content__m_nzR > ul,
.Article_content__m_nzR > ol {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.Article_content__m_nzR ul > li {
  list-style: disc;
}

.Article_content__m_nzR ol > li {
  list-style: decimal;
}

.Article_content__m_nzR li {
  margin: 0.5rem 0;
}

.Article_content__m_nzR a {
  text-decoration: underline;
}

.Article_content__m_nzR > figure {
  margin: 2rem 0;
}

.Article_content__m_nzR > figure img {
  max-width: 100%;
  height: auto;
}

.Article_content__m_nzR > figure figcaption {
  font-size: 0.8rem;
  color: var(--color-text-sub);
}

.Article_content__m_nzR > strong {
  font-weight: bold;
}

.Article_content__m_nzR > blockquote {
  border-left: 4px solid var(--color-border);
  padding-left: 1rem;
  font-style: italic;
  margin: 2rem 0;
}

.Article_content__m_nzR > hr {
  margin: 4rem 0;
  height: 1px;
  background-color: var(--color-border);
  border: none;
}

.Article_content__m_nzR > table {
  width: 100%;
  margin: 2rem 0;
}

.Article_content__m_nzR > table th {
  background-color: var(--color-bg-sub);
  text-align: left;
  padding: 1rem;
}

.Article_content__m_nzR > table td {
  text-align: left;
  padding: 1rem;
}

@media (max-width: 640px) {
  .Article_title__M_e36 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
  }

  .Article_description__v_Qu6 {
    font-size: 0.9rem;
    color: var(--color-text-sub);
    margin: 24px 0 40px;
    text-align: center;
  }

  .Article_meta__noYqu {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    font-size: 0.9rem;
  }

  .Article_writer__HQfyM {
    padding-right: 24px;
    margin-right: 24px;
  }

  .Article_writerIcon__ivA_V {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }

  .Article_writerName__CM3Wv {
    margin-left: 16px;
  }

  .Article_thumbnail__5rpq1 {
    width: 100%;
    height: auto;
    margin-bottom: 40px;
  }

  .Article_content__m_nzR {
    width: 100%;
  }
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./components/TagListItem/index.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.TagListItem_tag__Rx2fJ {
  background-color: var(--color-bg-sub);
  padding: 4px 8px;
  font-size: 0.8rem;
  border-radius: var(--border-radius);
  white-space: nowrap;
}

/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./components/TagList/index.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.TagList_tags__f2Gbi {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 8px 0;
}

